@charset "UTF-8";


*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    background-color: #4995bef1;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 4px 4px #0000005c;
    transition-duration: 0.45s;
}
section > div#foto{
    display: block;
    background: url("../imagens/pattern.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    height: 220px;
}

section > div#form{
    display: block;
    padding: 10px;
}