@charset "UTF-8";


*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin : 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    background-color: #4995bef1;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 3px 4px 4px #0000005c;
    transition-duration: 0.45s;
    transform: translate(-50%,-50%);
}

section h2,p{
    text-align: center;
}

section > div#foto{
    display: block;
    background: url("../imagens/pattern.jpg") no-repeat;
    background-size: cover;
    background-position: center top;
    height: 220px;
}

section > div#form{
    display: block;
    padding: 10px;
}

div.campo{
    background-color:blueviolet;
    border: 1px solid black;
    margin: 5px 0px;
    width: 100%;
    height: 40px;
    border-radius: 7px;
}

div.campo > label > span{
    color: white;
    height: 40px;
    padding: 5px;
    font-size: 2em;
}

div.campo > input{
    background-color: #6cf6c8;
    height: 100%;
    width: calc(100% - 47px);
    border: none;
    border-radius: 7px;
    padding: 4px;
    transform: translateY(-13px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type="submit"]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #54d4a9;
    color: white;
    border: none;
    border-radius: 5px;
}
form > input[type="submit"]:hover{
    background-color: #6cf6c8;
}
form > a.botao{
    display: block;
    text-align: center;
    width:100% ;
    height: 40px;
    margin-top: 4px;
    padding-top: 7px;
    background-color: white;
    border: 2px solid #54d4a9;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}
form > a.botao > span{
    font-size: 0.8em;
}
form > a.botao:hover{
    background-color: #54d4a9;
    color: #9af4d6;
}